#page-login {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;

  position: relative;
  display: flex;
}

#page-login aside {
  width: 60vw;
  background: linear-gradient(329.54deg, #15b6d6 0%, #15d6d6 100%);
  padding: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page-login aside header img {
  width: 260px;
  height: 240px;
}

#page-login aside h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 42px;
  margin-top: 64px;
}

#page-login aside p {
  line-height: 28px;
  margin-top: 24px;
}

#page-login aside footer {
  margin-top: 80px;
  align-items: center;
  display: flex;
  flex-direction: column;

  line-height: 24px;

  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
}

#page-login aside footer strong {
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 34px;
}

#page-login .login-content header button {
  width: 48px;
  height: 48px;

  border: 0;

  background: #ebf2f5;
  border-radius: 16px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 50px;

  position: absolute;

  right: 0;
  top: 0;
}

#page-login .login-content main {
  color: #5c8599;
  margin-top: 25vh;
  margin-left: 4vw;
}

#page-login .login-content main .form-container {
  display: block;
}

#page-login .login-content main h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 34px;
  color: #5c8599;
}

#page-login .login-content main .form-container {
  display: block;
  margin-top: 50px;
}

#page-login .login-content main .form-container button {
  width: 200%;
}

#page-login .login-content main .form-container input {
  width: 200%;
  height: 64px;
  padding: 12px 20px;
  display: block;
  outline: none;

  background: #f5f8fa;
  /* Back / Lines in white */

  border: 1px solid #d3e2e5;
  box-sizing: border-box;
  border-radius: 20px;
  margin-bottom: 25px;
}

/* Customize the label (the container) */
.checkbox-container {
  width: 5%;
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;

  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* Texts / Complementos */

  color: #8fa7b3;
}

.form-container form a {
  position: absolute;
  right: 10vw;
  text-decoration: none;
  color: #8fa7b3;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #d3e2e5;
  border-radius: 8px;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #37c77f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#page-login .login-content main .form-container input label {
  color: #8fa7b3;
}
